
@{
    ViewData["Title"] = "OwnerProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int i = 1;
}
@model ShipOwner

<div class="card card-success card-outline">
    <div class="card-header">

        <h3 class="card-title"><i class="fas fa-id-badge"></i> &nbsp; Ship Owner's Profile</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" id="saveButton" hidden="hidden" >
                <i class="fas fa-save"></i>
            </button>
            <button type="button" class="btn btn-tool" id="editButton">
                <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-2 text-center">
                <img src="@Model.PhotoUrl" alt="user-avatar" class="img-circle img-fluid">
            </div>


            <div class="col-md-5">
                <div class="form-group">
                    <label>Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-id-card"></i></span>
                        </div>
                        <input type="text" class="form-control" value="@Model.Name" id="ownerName" readonly="readonly">
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <div class="form-group">
                        <label>Phone</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control" id="ownerPhone" value="@Model.Phone" readonly="">
                        </div>
                    </div>

                <div class="form-group">
                    <label>Address: </label><div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                        </div>
                        <textarea class="form-control" rows="3" readonly="" id="ownerAddress" style="height: 107px;">@Model.Address</textarea>
                    </div>

                </div>

                
                    <!-- /.form-group -->
                </div>
                <!-- /.form-group -->
            </div><div class="col-md-5">
                <div class="form-group">
                    <label>About</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-info-circle"></i></span>
                        </div>
                        <input type="text" class="form-control" value="@if (Model.IsPerson)
                               {
                        <text>This owner is an individual.</text>
                        }
                        else
                        {
                        <text>This owner is a company.</text>
                        }" id="ownerAbout" readonly="readonly">
                    </div>
                </div>
                <!-- /.form-group -->
                

                <div class="form-group">
                    <div class="form-group">
                        <label>E-Mail</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="text" class="form-control" id="ownerEmail" value="@Model.Email" readonly="">
                        </div>
                    </div>
                    <!-- /.form-group -->
                </div>

                <div class="form-group">
                    <label>Country</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-flag"></i></span>
                        </div>
                        <select class="form-control select2bs4 select2-hidden-accessible" style="width: 80%;" data-select2-id="17" tabindex="-1" aria-hidden="true" id="ownerCountry" disabled>
                           
                            @using Seawise.Data
                            @foreach(var country in Countries.countries)
                            {                                
                                if(country.CountryCode == Model.CountryCode)
                                {
                                    <option selected="selected" value="@country.CountryCode">@country.CountryName</option>
                                }
                                else
                                {
                                    <option value="@country.CountryCode">@country.CountryName</option>
                                }
                            }
                        </select>

                    </div>
                    </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <!-- /.col -->
        </div>
        <!-- /.row -->


    </div>
    <!-- /.card-body -->
    <div class="card-footer"></div>
</div>

<div style="height:15px"></div>

<div class="card card-primary card-outline">
    <div class="card-header">

        <h3 class="card-title"><i class="fas fa-ship"></i> &nbsp; Ship List</h3>

        <div class="card-tools">
            
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            
            @foreach(var ship in Model.Ships)
            {
                <div class="col-md-3">
                    <button class="card card-outline card-primary btn-block shadow" style=" padding:0; text-align:left; background-color:transparent; " onclick="redirectToShipDetails(@ship.ShipId)">
                        <img cap" alt="" style="height: 180px; width: 100%; display: block;" src="@ship.PhotoUrl" data-holder-rendered="true">
                        <div class="card-body">
                            <dl>
                                <dt>@ship.ShipName &nbsp; <img src="~/images/flags/@($"{ship.CountryCode}.svg")" style="height: 15px;" class="elevation-2" alt="User Image"> </dt>
                                <dd>Owner: @ship.ShipOwner.Name</dd>
                            </dl>
                        </div>
                    </button>
                </div>
            }

        </div>
        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer"></div>
</div>



@section Scripts {
        
    <script>
        $(document).ready(function () {
            // Edit butonuna tıklandığında
            $('#editButton').click(function () {

                $('#ownerName,#ownerPhone,#ownerAddress,#ownerEmail').removeAttr('readonly');
                $('#ownerCountry').removeAttr('disabled');
                ownerCountry
                // Save butonunu göster
                $('#saveButton').removeAttr('hidden');
                $('#editButton').attr('hidden', true);

            });

            // Save butonuna tıklandığında
            $('#saveButton').click(function () {
                $('#ownerName,#ownerPhone,#ownerAddress,#ownerEmail').attr('readonly', true);
                // Burada kaydetme işlemlerini gerçekleştirebilirsiniz

                var ownerData = {
                    ShipOwnerId: parseInt('@Model.ShipOwnerId'), // JavaScript'te sayı olarak kullanılması için
                    Name: $('#ownerName').val(),
                    Email: $('#ownerEmail').val(),
                    Phone: $('#ownerPhone').val(),
                    Address: $('#ownerAddress').val(),
                    CountryCode: $('#ownerCountry').val()
                };


                // AJAX ile gönder
                $.ajax({
                    url: '@Url.Action("UpdateShipOwner", "Owner")', // Doğru URL'yi kullanıyoruz
                    type: 'POST',
                    contentType: 'application/x-www-form-urlencoded',
                    data: (ownerData),
                    success: function (response) {
                        alert("Data saved!");
                        // Burada kaydetme işlemlerini gerçekleştirebilirsiniz
                    },
                    error: function (error) {
                        alert('Error saving data!');
                    }
                });


                // Save butonunu gizle
                $('#ownerCountry').attr('disabled', true);
                $('#saveButton').attr('hidden', true);
                $('#editButton').removeAttr('hidden');// Save butonunu gizle
            });
        });

        
    </script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements with Bootstrap 4 theme
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
        });
    </script>
}
