@using Seawise.Data
@{
    ViewData["Title"] = "Add Employee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card card-success card-outline">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-id-card-alt"></i> &nbsp; New Employee Profile</h3>

    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-2 text-center">
                <img src="https://st4.depositphotos.com/9998432/24428/v/450/depositphotos_244284796-stock-illustration-person-gray-photo-placeholder-man.jpg" alt="user-avatar" id="employeePhoto" class="img-circle img-fluid">
                <div style="height:25px;"></div>

                <!-- Fotoğraf yükleme için gizli input -->
                <input type="file" id="fileInput" style="display: none;" accept="image/*" />

                <!-- Buton -->
                <button type="button" class="btn btn-outline-success btn-block" id="uploadButton"
                >
                    <i class="fas fa-upload"></i> Upload Photo
                </button>
            </div>

            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        
                            <div class="form-group">
                                <label>Name</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-id-card"></i></span>
                                    </div>
                                    <input type="text" class="form-control"
                                           id="employeeName">
                                </div>
                            </div>
                        
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Surname</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-id-card"></i></span>
                                </div>
                                <input type="text" class="form-control"
                                id="employeeSurname">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Employee Code</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span><b>SW</b></span>
                                    </div>
                                </div>
                                <input type="text" class="form-control"
                                       id="employeeCode" value="@ViewBag.InternalEmployeeCode" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Position</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-briefcase"></i></span>
                                </div>
                                <select class="form-control select2" id="employeePosition">
                                    @foreach (var pos in Seawise.Data.DepartmentPositions.positions)
                                    {
                                        if (pos.EmployeePositionId == 1)
                                            continue;

                                        <option value="@pos.EmployeePositionId">@pos.PositionName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                </div>
                                <input type="text" class="form-control" id="employeePhone"
                                       >
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="text" class="form-control" id="employeeEmail"
                                      >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Salary</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                </div>
                                <input type="text" class="form-control"
                                       id="employeeSalary">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Hire Date</label>
                            <div class="input-group date" id="employeeHireDate" data-target-input="nearest">
                                <div class="input-group-prepend" data-target="#employeeHireDate"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                <input type="text" class="form-control datetimepicker-input"
                                       data-target="#employeeHireDate" id="employeeHireDateInput"
                                       >
                            </div>
                        </div>
                        <script>
                            $(function () {
                                $('#employeeHireDate').datetimepicker({
                                    format: 'DD/MM/YYYY'
                                });
                            });
                        </script>
                    </div>
                </div>


                <div class="form-group">
                    <div style="height:15px"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-info btn-block" id="addEmployeeButton"><i class="fas fa-save"></i> Save Employee Information</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
    </div>
</div>

@section Scripts {

    <script>

        $(function () {

            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
        });


    </script>


    <script>
        $(document).ready(function () {



            $('#addEmployeeButton').click(function () {
               
                var employeeData = {
                    
                    EmployeePositionId: $('#employeePosition').val(),
                    InternalEmployeeCode: $('#employeeCode').val(),
                    Name: $('#employeeName').val(),
                    Surname: $('#employeeSurname').val(),
                    Phone: $('#employeePhone').val(),
                    Email: $('#employeeEmail').val(),
                    Salary: parseInt($('#employeeSalary').val()),
                    //HireDate: $('#employeeHireDateInput').val(),
                    HireDate: ($('#employeeHireDateInput').val() ? new Date($('#employeeHireDateInput').val()).toISOString().split('T')[0] : null),
                    PhotoUrl: document.getElementById('employeePhoto').src
                };

                // AJAX isteği
                $.ajax({
                    url: '@Url.Action("AddNewEmployee", "Employee")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(employeeData),
                    success: function (response) {
                        window.location.href = response.redirectUrl;
                    },
                    error: function (error) {
                        alert('Error saving employee data!');
                    }
                });
            });


            $('#uploadButton').click(function () {
                $('#fileInput').click();  // Trigger file input when the upload button is clicked
            });

            // Handle the file input change event
            $('#fileInput').change(function () {
                const fileInput = document.getElementById('fileInput');
                const file = fileInput.files[0];

                if (file) {
                    // Dosya geçerliliğini kontrol et
                    const validImageTypes = ['image/jpeg', 'image/jpg', 'image/png'];
                    if (!validImageTypes.includes(file.type)) {
                        alert("Lütfen geçerli bir fotoğraf dosyası seçin (JPEG, JPG, PNG).");
                        return;
                    }

                    const photoData = new FormData();
                    photoData.append('file', file);
                    photoData.append('employeeId', 0);

                    fetch('@Url.Action("UploadPhoto", "Employee")', {
                        method: 'POST',
                        body: photoData
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.filePath) {
                                // Sunucudan dönen dosya yolunu önizlemede göster
                                document.getElementById('employeePhoto').src = data.filePath;
                            } else {
                                alert(data.message || "Dosya yüklenirken bir hata oluştu.");
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                } else {
                    alert("Lütfen bir dosya seçin.");
                }
            });

            // Initialize select2 for Department and Position
            $('.select2').select2({
                theme: 'bootstrap4'
            });
        });
    </script>
}
