
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<ShipOwner>
@if (Model.Count() != 0 )
{
    <div style="height:15px;"> </div>
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row">
                @foreach (var owner in Model)
                {
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">                                
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>@owner.Name</b></h2>
                                        <p class="text-muted text-sm"><b>About: </b> @if (owner.IsPerson)
                                            {
                                                <text>This owner is an individual.</text>
                                            }
                                            else
                                            {
                                                <text>This owner is a company.</text>}
                                            </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: @owner.Address</li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-map-marker-alt"></i></span> Country: @owner.CountryCodeNavigation.CountryName &nbsp; <img src="~/images/flags/@($"{owner.CountryCode}.svg")" style="height: 15px;" class="elevation-1" alt="User Image"></li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone : @owner.Phone</li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="@owner.PhotoUrl" alt="user-avatar" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <a asp-controller="Admin" asp-action="OwnerProfile" asp-route-ownerId="@owner.ShipOwnerId" class="btn btn-sm btn-primary">
                                        <i class="fas fa-user"></i> View Profile
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    
}